#blocked {
  background-color: black;
  color: white;
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-style: bold;
  font-size: 35pt;
  text-align: center;
}
:root {
  --primaryColor: 210;
  --accentColor: 180;
  --fontColor: 240;
  --fontSize: 14;
  
  --xc: black;
  --pc: white;
  --opposite: #0003;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  color: hsl(var(--fontColor),100%,12%);
}
body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: calc(var(--fontSize) * 1pt);
  background-color: hsl(var(--primaryColor),40%,85%);
}
.material-symbols-outlined {
  padding: 0.15em;
  font-size: 1.2em;
}
input, button, label {
  display: inline-flex;
  font-size: 1em;
  background-color: transparent;
  color: inherit;
  align-items: center;
  vertical-align: middle;
  border: none;
  outline: none;
  cursor: pointer;
}
h1 {
  font-weight: 700;
  font-size: 1.4em
}
h2 {
  font-weight: 700;
  font-size: 1.2em
}
h3 {
  font-weight: 700;
  font-size: 1.1em
}
h4 {
  font-weight: 700;
  font-size: 1em
}
h5 {
  font-weight: 400;
  font-size: 1.1em
}
p {
  font-size: 1em;
  display: inline;
}
a {
  font-size: inherit;
  text-decoration: none;
  color: inherit;
}

header {
  display: block;
  min-height: 6em;
}
nav {
  padding: 5px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  user-select: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: hsl(var(--primaryColor), 100%, 85%);
  box-shadow: 0 2px 2px var(--opposite);
  z-index: 999;
  gap: 5px 0;
}
nav > a { padding-left: 0.8em; }
#ai { display: none; }
nav span {
  flex-grow: 1;
}
#ab {
  background-color: var(--opposite);
  overflow: hidden;
  display: inline-flex;
  flex-flow: row nowrap;
  padding-left: 15px;
  border-radius: 7px;
  flex: 1 0 auto;
}
#ab input {
  flex: 1 0 auto;
}
#ab button {
  padding: 5px;
}

footer {
  font-size: 0.74em;
  display: block;
  color: white;
  background-color: #0008;
  padding: 15px 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 3px;
  border-radius: 8px;
}
footer a i {
  display: inline-block;
  width: 1.3em;
  aspect-ratio: 1/1;
}
footer a p {
  display: inline-block;
}
footer a:hover {
  background-color: #0008;
  font-size: 0.97em;
}
footer p {
  text-align: center;
  display: block;
}
@media screen and (max-width: 700px) {
  .hs { display: none; }
  #al { 
    display: inline-block;
    background-color: hsla(var(--accentColor), 100%, 50%, 50%);
    border-radius: 5px;
    padding: 5px;
  }
  #al:hover { background-color: hsla(var(--accentColor), 100%, 50%, 80%); }
  
  #al:after { content: '\e3c7'; }
  #ai:checked ~ #al:after { content: '\e5cd'; }
  #ai:not(:checked) ~ #ab { display: none; }
}
@media screen and (min-width: 700px) {
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    /* constant */
    --strs-accent-color: 65%;
    --lght-accent-color: 40%;
    --strs-accent1-color: 55%;
    --lght-accent1-color: 60%;
    
    --xc: white;
    --pc: black;
    --opposite: #fff3;
  }
  html {
    color: hsl(var(--fontColor),100%,89%);
  }
  body {
    background-color: hsl(var(--primaryColor),40%,15%);
  }
  nav {
    background-color: hsl(var(--primaryColor), 100%, 15%);
  }
}
