/* blocked noscript */
span #blocked {
  background-color: black;
  color: white;
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-style: bold;
  font-size: 35pt;
  text-align: center;
}
.material-symbols-outlined {
  font-size: 1em;
}
/* color library - default */
:root {
  --opposite: #0003;
  --accent: var(--accentColor, #eee) --font: var(--fontColor, #000);
  --nav: var(--navColor, #b3b3b3);
  --body: var(--bodyColor, #efefef);
}
/* setting default */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* global style for some element that used*/
html {
  color: var(--font);
}
body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: var(--F1, 19pt);
  background-color: var(--body);
}
button {
  color: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
input {
  font-size: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
label {
  font-weight: 700;
  font-size: 1em;
}
h1 {
  font-weight: 700;
  font-size: 1.16em;
}
h2 {
  font-weight: 700;
  font-size: 1.23em;
}
h3 {
  font-weight: 700;
  font-size: 1.07em;
}
h4 {
  font-weight: 400;
  font-size: 1.035em;
}
h5 {
  font-weight: 400;
  font-size: 1.024em;
}
h6 {
  font-weight: 200;
  font-size: 1em;
}
p {
  font-size: 1em;
}
.hide {
  display: none;
}
header {
  display: block;
  min-height: 100px;
}
header nav {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  user-select: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  flex-direction: row;
  padding: 15px 8px 8px 8px;
  background-color: var(--nav);
  box-shadow: 0 3px 3px var(--nav);
  flex-wrap: wrap;
  z-index: 999;
  text-shadow: 0 0 1em #0007;
}
header nav * {
  display: flex;
  margin: 1px;
}
header nav:first-child {
  padding-right: auto;
  background: yellow;
}
header nav a {
  color: inherit;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 2.5px;
  border-radius: 1.5px;
}
header nav #nav-expander {
  border-radius: 3.5px;
  font-size: 1.2em;
  cursor: pointer;
}
header nav #nav-expander:hover {
  background-color: var(--opposite);
}
header nav #nav-expander:after {
  content: '\e8a0';
}
header nav input:checked ~ #nav-expander:after {
  content: '\e5cd';
}
header nav form {
  display: none;
  flex-grow: 1;
  text-align: center;
  flex-wrap: nowrap;
  margin: 7px;
  background-color: var(--opposite);
  overflow: hidden;
  border-radius: 20px;
}
header nav form input {
  padding-left: 15px;
  color: black;
  flex: 1 1 550px;
}
header nav form button {
  padding: 4px 8px;
}
header nav form button:hover {
  background-color: var(--accent);
}
header nav input:checked ~ form {
  display: flex;
}
main {
  align-items: center;
  text-align: center;
}
footer {
  font-size: 0.74em;
  display: block;
  color: white;
  background-color: #0008;
  padding: 15px 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 3px;
  border-radius: 8px;
}
footer a i {
  display: inline-block;
  width: 1.3em;
  aspect-ratio: 1/1;
}
footer a p {
  display: inline-block;
  margin-left: 0.5em;
}
footer a:hover {
  background-color: #0008;
  font-size: 0.97em;
}
footer p {
  text-align: center;
  display: block;
}
/* when dark mode */
@media screen and (prefers-color-scheme: dark) {
  :root {
    --opposite: #fff3;
    --accent: var(--accentColorDark, #ccc);
    --font: var(--fontColorDark, #f2f2f2);
    --nav: var(--navColorDark, #121212);
    --body: var(--bodyColorDark, #262626);
  }
}
/* mobile */
@media screen and (max-width: 800px) {
  .hide-on-small {
    display: none;
  }
  header nav {
    padding: 5px;
  }
  header nav form input {
    padding-left: 15px;
    width: 250px;
  }
}
/* while screen wide */
@media screen and (min-width: 800px) {
  .hide-on-big {
    display: none;
  }
}
