main {
  display: block;
  text-align: center;
  align-items: center;
}
main h1 {
  display: block;
  text-align: center;
  align-items: center;
}
main form {
  background: var(--opposite);
  border-radius: 10px;
  padding: 3px;
  margin: 3px;
  align-items: center;
  display: block;
}
main form h4 {
  text-align: left;
  vertical-align: middle;
  padding: 4px;
}
#fontSize {
  display: inline-flex;
}
#fontSize p {
  font-weight: 700;
  margin: 0 10px;
}
#fontSize p:first-child {
  font-size: 12pt;
}
#fontSize p:last-child {
  font-size: 16pt;
}
#fontSize input {
  flex-grow: 1;
}
main button {
  background-color: hsl(var(--accentColor), 100%, 60%);
  border-radius: 14px;
  font-weight: 700;
  padding: 7px;
  border-width: 0 0 4px;
  border-style: solid;
  border-color: hsl(var(--accentColor), 95%, 40%);
}
main button:active {
  background-color: hsl(var(--accentColor), 95%, 40%);
}
main button:disabled {
  background-color: var(--opposite);
  border-style: none;
}
main form label {
  width: 145px;
  height: 145px;
  border-style: solid;
  border-width: 30px;
  border-color: transparent;
  border-radius: 50%;
  display: inline-flex;
  --lght: 50%;
  --hue: 0;
  font-weight: 700;
  background-image: linear-gradient(hsl(var(--hue),100%,var(--lght)), hsl(var(--hue), 100%, var(--lght))), 
    conic-gradient(
      from -90deg,
      hsl(  0,100%,var(--lght)),
      hsl( 30,100%,var(--lght)),
      hsl( 60,100%,var(--lght)),
      hsl( 90,100%,var(--lght)),
      hsl(120,100%,var(--lght)),
      hsl(150,100%,var(--lght)),
      hsl(180,100%,var(--lght)),
      hsl(210,100%,var(--lght)),
      hsl(240,100%,var(--lght)),
      hsl(270,100%,var(--lght)),
      hsl(300,100%,var(--lght)),
      hsl(330,100%,var(--lght)),
      hsl(360,100%,var(--lght))
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  position: relative;
}
main form label p {
  text-align: center;
  align-items: center;
  vertical-align: middle;
  flex-grow: 1;
}
main form label span {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  background-color: hsl(var(--hue), 100%, var(--lght));
  border-radius: 15px 15px 15px 0;
  rotate: 45deg;
  translate: -50% -50%;
  border-width: 1px;
  border-style: solid;
  border-color: var(--xc);
}
label[for='primaryColor'] {
  --lght: 85%;
}
label[for='accentColor'] {
  --lght: 50%;
}
label[for='fontColor'] {
  --lght: 12%;
  color: hsl(var(--fontColor),100%,91%);
}
label[for='fontColor'] span {
  border-color: var(--pc);
}

.kc input {
  height: 4px;
  border-radius: 2px;
}
.kc input::-webkit-slider-thumb {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.kc input::-moz-range-thumb {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.kc input::-ms-thumb {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
@media screen and (prefers-color-scheme: dark) {
  label[for='primaryColor'] { --lght: 15%; }
  label[for='accentColor'] { --lght: 31%; }
  label[for='fontColor'] { --lght: 89%; color: hsl(var(--fontColor),100%,9%); }
  main button {
    background-color: hsl(var(--accentColor), 100%, 31%);
    border-color: hsl(var(--accentColor), 95%, 21%);
  }
  main button:active {
    background-color: hsl(var(--accentColor), 95%, 21%);
  }
  main button:disabled {
    background-color: var(--opposite);
  }
}