main {}
main h1 {
	text-align: center;
}
main div {
  display: block;
  justify-content: center;
  align-items: center;
	text-align: center;
  padding: 15px;
  background-color: #3337;
  box-shadow: 0 0 5px #3337;
  border-radius: 15px;
  margin: 25px;
}
main div input[type='radio'] {
  text-align: center;
  align-items: center;
  margin: 4px;
  width: 45px;
  height: 45px;
  display: inline-block;
  position: relative;
}
main div input[type='radio']:before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
}
main div input[type='radio']:nth-child(2):before {
  background-color: #b3b3b3;
}
main div input[type='radio']:nth-child(3):before {
  background-color: #bebeff;
}
main div input[type='radio']:nth-child(4):before {
  background-color: #b3ffb3;
}
main div input[type='radio']:nth-child(5):before {
  background-color: #ffb3b3;
}
main div input[type='radio']:nth-child(6):before {
  background-color: #e299ff;
}
main div input[type='radio']:checked:after {
  content: '\e805';
  color: var(--font);
  font-family: 'ic';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 25px;
}
min div h5 {
  display: block;
}
min div input[type='range'] {
  display: inline;
}
min div #fontSize-pref:before {
  content: 'A';
  display: inline;
  font-size: 10pt;
}
min div #fontSize-pref:after {
  content: 'A';
  display: inline;
  font-size: 18pt;
}

@media screen and (prefers-color-scheme: dark) {
  main div input[type='radio']:nth-child(2):before {
	  background-color: #121212;
  }
  main div input[type='radio']:nth-child(3):before {
	  background-color: #00008b;
  }
  main div input[type='radio']:nth-child(4):before {
	  background-color: #006400;
  }
  main div input[type='radio']:nth-child(5):before {
	  background-color: #b71c1c;
  }
  main div input[type='radio']:nth-child(6):before {
	  background-color: #9b3cc3;
  }
}
